language: php
php:
  - '7.0'
  - hhvm
  - nightly

cache:
  directories:
    - vendor

matrix:
  fast_finish: true
  allow_failures:
    - php:
      - hhvm
      - nightly

branches:
  only:
    - master
    - dev

git:
  depth:
    3

before_install:
  - phpenv config-rm xdebug.ini

install:
  - scripts/install.sh
  - composer dump-autoload

before_cache:
  - cp composer.lock vendor/
